@charset "UTF-8";
div{

   background: #2c2636;
	margin:auto;
	width:700px;
	top:20%;
	filter:opacity(96%);
	font-family: 'Questrial', sans-serif;
	font-size: 13px;
	border-radius:12px;	
	margin-top:140px;
}
body{
	background-color: #06021c;
	background-repeat: no-repeat;
	background-size: cover;
	 background-blend-mode: screen;
	background-image:url("https://i1.adis.ws/i/canon/dig_book_print_hero_1280x768?w=1199&sm=aspect&aspect=16:9&qlt=80&fmt=jpg&fmt.options=interlaced&bg=rgb(255,255,255)");
}
h1{
	color:white;
	padding-top:50px;
     padding-bottom: 10px;
     padding-left:60px;
	font-family: 'ABeeZee', sans-serif;
}
hr{
	opacity:0.5;
}
p{
	color:white;
	font-weight: bold;
	padding-left:150px;
}
button{
	background-color: #359c3f;
	color:white;
    height:40px;
	text-align:center;
	cursor: pointer;
	border:1px solid #359c3f;
    font-size: 18px;
    border-radius:3px;
     margin-top: 12px;
    width:400px;
    margin-bottom:70px;
    margin-left:150px;
    font-weight:120px;
    outline:none;
}

.box{
	border-radius: 3px; 
    background-color: white;
    border:1px solid white;
    padding-left: 11px;
   margin-left:150px;
    margin-top:-6px;
    height:40px;
    width:400px;
  

}
.box:focus{
	outline:none;
}
.forgot{
	color:white;
	font-family: 'ABeeZee', sans-serif;
	padding-left:450px;
	font-size:17px;

}
.account{
	text-align:center;
	color:white;
	font-family: 'ABeeZee', sans-serif;
	font-size:17px;
	
	margin-right:100px;
	padding-bottom: 40px;
}
.button1{
	text-decoration:none;
	color:#359c3f;
	font-size:17px;
	
	padding-bottom: 40px;
}